.final__info {
  padding-top: 193px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.final__info__title {
  margin-bottom: 15px;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 37px;
  text-align: center;
  text-transform: uppercase;
}

.final__info__subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}
